* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

/**主题相关*/
.dark {
    --baseBackgroundColor: #333;
    --baseFontColor: #fff;
}
.white {
    --baseBgColor: #fff;
    --baseFontColor: #333;
}

/**项目相关*/
.flex-center-xy {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-x {
    display: flex;
    justify-content: center;
}
.flex-center-y {
    display: flex;
    align-items: center;
}
.fixed-center-xy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolute-center-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-fill {
    width: 100%;
    height: 100%;
}